<html>
<body>
<h1> {{title}} </h1>
 <form action="/Patient/add" method="POST">
                <label for="FullName">FullName</label>
                <input type="text" class="input_style" name="FullName" id="FullName" placeholder="Enter post FullName"  required>
                <label for="Phone">Phone </label>
                <input type="text"  id="Phone" name="Phone" class="input_style" placeholder="Phone">
                <input type="submit" value="add" class="submit-btn">
            </form>
</body>
</html>